<h4 style="padding: 0.25em 0.5em;color: #494949;background: transparent;border-left: solid 5px #7db4e6;">課題9.1</h4>

「アイスクリームの好みについてのアンケート」のデータから13種類のアイスクリームのデータを利用して因子分析を行った。次のファイルは、因子得点のデータである。

<a href="fscore.txt">因子得点のデータ</a>

ケースの1から40番は女性のデータ、41から80番は男性のデータである。

(1)　男女それぞれについて、因子1から4の因子得点の平均値と標準偏差を求めなさい。

(2)　(1)から言えることを書きなさい。

(3)　(2)について、統計学的に検討するためには、どのような検定方法を使えばいいか。その方法の名前を書きなさい。

In [1]:
import urllib.request as req
req.urlretrieve('http://nbviewer.jupyter.org/github/maskot1977/Statistics2017/blob/master/fscore.txt','fscore.txt')

('fscore.txt', <http.client.HTTPMessage at 0x1635fdee048>)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('fscore.txt', sep='\s+', index_col=0)

In [17]:
g, b = df[:40], df[40:]

In [18]:
g_mean, g_sd = g.mean(axis=0), g.std(axis=0)
b_mean, b_sd = b.mean(axis=0), b.std(axis=0)

In [19]:
pd.DataFrame(g_mean)

                0
factor1 -0.160878
factor2  0.034183
factor3 -0.185733
factor4  0.101128

In [20]:
pd.DataFrame(b_mean)

                0
factor1  0.160878
factor2 -0.034183
factor3  0.185733
factor4 -0.101128

In [15]:
pd.DataFrame(g_sd)

                0
factor1  0.808369
factor2  1.063163
factor3  0.739570
factor4  0.858090

In [16]:
pd.DataFrame(b_sd)

                0
factor1  0.930342
factor2  0.873882
factor3  1.202719
factor4  0.916529

2.女性と男性の因子の平均はちょうど逆らっていそうですから好みも逆であるかもしれません。(例:factor2の因子得点係数がマイナスである味は男性の好み、逆に因子得点係数がプラスである味は女性の好み)

3.仮説を立てたら "男性と女性の因子得点はちょうど逆らっている" という仮説もいいけれども、何の検定も使えないので、同じ意味 <br>
"男性の因子得点をサインチェンジ(-1をかけること）すると、女性の因子得点と差がない" なら t-検定を使えるはずです。

<h2 STYLE="background: #c2edff;padding: 0.5em;">アイスクリーム統計学 第９章 課題</h2>

__課題9.1__ を解いて、指定のメールアドレスまでメールしてください。メール送信後は、エラーが帰ってきてないことを確認してください（メールアドレスを間違える人がときどき居ます）。
* 締切：11月3日（今すぐでなくても結構です）
* メールタイトル：「アイスクリーム統計学 第９章」
* 学籍番号と氏名を明記すること。
* 感想などがあれば書いてくれると嬉しいです。次回以降の講義の改善につながるかも知れません。