In [39]:
import numpy as np
import matplotlib.pyplot as plt
import urllib.request as req
import pandas as pd
import seaborn as sns
from sklearn import svm
from sklearn.utils import shuffle
%matplotlib inline

In [5]:
url = 'https://raw.githubusercontent.com/maskot1977/ipython_notebook/master/toydata/iris.txt'
req.urlretrieve(url,'ame.txt')

('ame.txt', <http.client.HTTPMessage at 0x2786547cd68>)

In [22]:
df = pd.read_csv('ame.txt','\t',usecols=range(1,6))

In [23]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [24]:
df.columns.values

array(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'], dtype=object)

In [27]:
df0, df1, df2 = df[df.Species == 0], df[df.Species == 1], df[df.Species == 2]

In [28]:
df0.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [29]:
df1.head()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
50           7.0          3.2           4.7          1.4        1
51           6.4          3.2           4.5          1.5        1
52           6.9          3.1           4.9          1.5        1
53           5.5          2.3           4.0          1.3        1
54           6.5          2.8           4.6          1.5        1

In [30]:
df2.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
100           6.3          3.3           6.0          2.5        2
101           5.8          2.7           5.1          1.9        2
102           7.1          3.0           5.9          2.1        2
103           6.3          2.9           5.6          1.8        2
104           6.5          3.0           5.8          2.2        2

In [34]:
df0_mean, df0_sd = df0.mean(axis=0), df0.std(axis=0)

In [35]:
df0_mean, df0_sd

(Sepal.Length    5.006
 Sepal.Width     3.428
 Petal.Length    1.462
 Petal.Width     0.246
 Species         0.000
 dtype: float64, Sepal.Length    0.352490
 Sepal.Width     0.379064
 Petal.Length    0.173664
 Petal.Width     0.105386
 Species         0.000000
 dtype: float64)

In [36]:
df1_mean, df1_sd = df1.mean(axis=0), df1.std(axis=0)
df2_mean, df2_sd = df2.mean(axis=0), df2.std(axis=0)

In [37]:
df0_mean, df1_mean, df2_mean

(Sepal.Length    5.006
 Sepal.Width     3.428
 Petal.Length    1.462
 Petal.Width     0.246
 Species         0.000
 dtype: float64, Sepal.Length    5.936
 Sepal.Width     2.770
 Petal.Length    4.260
 Petal.Width     1.326
 Species         1.000
 dtype: float64, Sepal.Length    6.588
 Sepal.Width     2.974
 Petal.Length    5.552
 Petal.Width     2.026
 Species         2.000
 dtype: float64)

# 予測

In [43]:
df_use = shuffle(df)
df_use

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
2             4.7          3.2           1.3          0.2        0
1             4.9          3.0           1.4          0.2        0
111           6.4          2.7           5.3          1.9        2
56            6.3          3.3           4.7          1.6        1
106           4.9          2.5           4.5          1.7        2
133           6.3          2.8           5.1          1.5        2
11            4.8          3.4           1.6          0.2        0
143           6.8          3.2           5.9          2.3        2
60            5.0          2.0           3.5          1.0        1
35            5.0          3.2           1.2          0.2        0
97            6.2          2.9           4.3          1.3        1
90            5.5          2.6           4.4          1.2        1
103           6.3          2.9           5.6          1.8        2
83            6.0          2.7           5.1          1.6        1
70            5.9          3.2           4.8          1.8        1
4             5.0          3.6           1.4          0.2        0
13            4.3          3.0           1.1          0.1        0
130           7.4          2.8           6.1          1.9        2
14            5.8          4.0           1.2          0.2        0
105           7.6          3.0           6.6          2.1        2
62            6.0          2.2           4.0          1.0        1
100           6.3          3.3           6.0          2.5        2
17            5.1          3.5           1.4          0.3        0
3             4.6          3.1           1.5          0.2        0
28            5.2          3.4           1.4          0.2        0
53            5.5          2.3           4.0          1.3        1
141           6.9          3.1           5.1          2.3        2
68            6.2          2.2           4.5          1.5        1
36            5.5          3.5           1.3          0.2        0
25            5.0          3.0           1.6          0.2        0
..            ...          ...           ...          ...      ...
149           5.9          3.0           5.1          1.8        2
79            5.7          2.6           3.5          1.0        1
26            5.0          3.4           1.6          0.4        0
47            4.6          3.2           1.4          0.2        0
116           6.5          3.0           5.5          1.8        2
122           7.7          2.8           6.7          2.0        2
139           6.9          3.1           5.4          2.1        2
92            5.8          2.6           4.0          1.2        1
67            5.8          2.7           4.1          1.0        1
125           7.2          3.2           6.0          1.8        2
146           6.3          2.5           5.0          1.9        2
33            5.5          4.2           1.4          0.2        0
123           6.3          2.7           4.9          1.8        2
124           6.7          3.3           5.7          2.1        2
9             4.9          3.1           1.5          0.1        0
137           6.4          3.1           5.5          1.8        2
39            5.1          3.4           1.5          0.2        0
142           5.8          2.7           5.1          1.9        2
30            4.8          3.1           1.6          0.2        0
148           6.2          3.4           5.4          2.3        2
89            5.5          2.5           4.0          1.3        1
44            5.1          3.8           1.9          0.4        0
96            5.7          2.9           4.2          1.3        1
57            4.9          2.4           3.3          1.0        1
73            6.1          2.8           4.7          1.2        1
140           6.7          3.1           5.6          2.4        2
77            6.7          3.0           5.0          1.7        1
102           7.1          3.0           5.9          2.1        2
55            5.7          2.8           4.5          1.3        1
34            4.9          3.1           1.5          0.2        0

[150 rows x 5 columns]

In [49]:
X_train = df_use[:100]
X_val = df_use[100:]
Y_train, Y_val = X_train['Species'], X_val['Species']
X_train, X_val = X_train.drop('Species', axis=1), X_val.drop('Species', axis=1)

In [50]:
X_train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
2             4.7          3.2           1.3          0.2
1             4.9          3.0           1.4          0.2
111           6.4          2.7           5.3          1.9
56            6.3          3.3           4.7          1.6
106           4.9          2.5           4.5          1.7

In [51]:
Y_train

2      0
1      0
111    2
56     1
106    2
133    2
11     0
143    2
60     1
35     0
97     1
90     1
103    2
83     1
70     1
4      0
13     0
130    2
14     0
105    2
62     1
100    2
17     0
3      0
28     0
53     1
141    2
68     1
36     0
25     0
      ..
138    2
99     1
74     1
107    2
86     1
18     0
49     0
52     1
115    2
31     0
24     0
64     1
136    2
134    2
5      0
20     0
131    2
10     0
23     0
6      0
109    2
63     1
50     1
61     1
78     1
8      0
45     0
0      0
121    2
76     1
Name: Species, Length: 100, dtype: int64

In [53]:
model = svm.SVC()

In [54]:
model.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [55]:
model.score(X_val, Y_val)

0.97999999999999998

In [60]:
Y_predict = model.predict(X_val)
print(Y_predict, Y_val.as_matrix())

[0 2 2 0 1 2 0 0 0 1 1 1 0 1 1 0 1 2 1 1 2 1 0 0 2 2 2 1 1 2 2 0 2 2 0 2 0
 2 0 2 1 0 1 1 1 2 1 2 1 0] [0 2 2 0 1 2 0 0 0 1 2 1 0 1 1 0 1 2 1 1 2 1 0 0 2 2 2 1 1 2 2 0 2 2 0 2 0
 2 0 2 1 0 1 1 1 2 1 2 1 0]